.container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.statistics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.statistics p {
  margin: 0;
}
